/* === GENERAL === */
.charsheet {
    min-width: 850px;
}

.sheet-section {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
    margin: 4px 0;
    padding: 1px;
    width: 100%;
}

.sheet-headerbar {
    background: black;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    margin-bottom: 4px;
    padding: 2px 4px;
}

/*----------- Tabs Setup -------------*/
/*this hides the contents of each tab by default*/
.charsheet div[class^="sheet-section-tabbed"] {
    display: none;
}

/*this shows the tab content when the appropriate input field is selected*/
.charsheet input.sheet-tab1:checked ~ .sheet-section-tabbed-core,
.charsheet input.sheet-tab2:checked ~ .sheet-section-tabbed-combat,
.charsheet input.sheet-tab3:checked ~ .sheet-section-tabbed-pfat,
.charsheet input.sheet-tab4:checked ~ .sheet-section-tabbed-gear,
.charsheet input.sheet-tab5:checked ~ .sheet-section-tabbed-arcana,
.charsheet input.sheet-tab6:checked ~ .sheet-section-tabbed-notes,
.charsheet input.sheet-tab7:checked ~ .sheet-section-tabbed-refs {
    display: block;
}

.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section-tabbed"] {
  display: block;
}

/*this hides the radio button for each tab, makes it 100px wide and 40px tall and makes sure it's above everything else*/
.charsheet input.sheet-tab {
    cursor: pointer;
    height: 40px;
    opacity: 0;
    position: relative;
    width: 100px;
    z-index: 9999;
}

/*this styles the span with the tab information and slides to the left, so it appears underneath the radio button*/
.charsheet span.sheet-tab {
    background: lightgrey;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    margin-left: -101px;/*originally 91px*/
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 80px;
}

/*this modifies the span color once the radio button is selected so you know which tab is selected*/
.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
.charsheet input.sheet-tab3:checked + span.sheet-tab3,
.charsheet input.sheet-tab4:checked + span.sheet-tab4,
.charsheet input.sheet-tab5:checked + span.sheet-tab5,
.charsheet input.sheet-tab6:checked + span.sheet-tab6,
.charsheet input.sheet-tab7:checked + span.sheet-tab7,
.charsheet input.sheet-tab8:checked + span.sheet-tab8,
.charsheet input.sheet-tab99:checked + span.sheet-tab99 {
  background: #660202;
  border-radius: 4px;
  color: white;
}
/*----------- End Tab Setup -----------*/
